.webinarpage {
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
}
.webinarpage-list {
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 30px;
  width: 90vw;
}
.webinarcard {
  background: #ffffff;
  box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.webinarcard-img {
  height: 300px;
  object-fit: contain;
}
.webinarcard-date {
  font-weight: 300;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  color: #757575;
  align-items: center;
}
.webinarcard-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  margin: 10px 0;
}
.webinarcard-person {
  font-weight: 400;
  font-size: 17px;
}
.webinarcard-person span {
  font-weight: 500;
}
.webinarcard-link {
  font-weight: 400;
  color: #424242;
}
.webinar-separate-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem;
}
.webinarpage-col-webinarcard-img {
  height: 25rem;
}
.webinarpage-col-head {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
  position: relative;
}
.webinarpage-col-head::after {
  content: "";
  height: 2px;
  position: absolute;
  background-color: #424242a2;
  left: 0;
  width: 50%;
  top: -0.5rem;
}
.webinarpage-text {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-weight: 300;
}
.webinarpage-col1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  .webinarpage-list {
    display: flex;
    flex-direction: column;
  }
  .webinarcard {
    margin-top: 10px;
  }
  .webinarcard-img {
    height: 400px;
    object-fit: cover;
  }
  .webinar-separate-page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  .webinarpage-col-webinarcard-img {
    height: 18rem;
    margin-bottom: 3rem;
  }
}
