.quiz-window {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.quiz-head {
  font-size: 2rem;
  margin: 0;
  margin-top: 3rem;
}
.quiz-window-para {
  font-size: 1.5rem;
}
.quiz-card {
  width: 70%;
  background-color: rgba(239, 239, 253, 0.815);
  padding: 2rem;
  margin-top: 3rem;
}
.quiz-option {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  padding: 0.5rem;
}
.quiz-option:hover {
  background-color: rgb(234, 234, 253);
  border-radius: 0.4rem;
  cursor: pointer;
}
.quiz-question {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.quiz-option {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin-bottom: 0.3rem;
}
.quiz-option-circle {
  background-color: #b6c7f3;
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.quiz-footer-btn {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: #008015;
  color: #fff;
  margin-top: 3rem;
}
.quiz-footer-btn:hover {
  background-color: #027215;
  cursor: pointer;
}
.quiz-score {
  width: 7rem;
  height: 7rem;
  margin-top: 2rem;
  background-color: #008015;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.quiz-result {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.quiz-result-text1 {
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.quiz-result-text1:nth-child(1) {
  color: #008015;
}
.quiz-result-text1:nth-child(2) {
  color: #c50700;
}
.quiz-resultfooter-btn {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  outline: none;
  font-weight: 500;
  border: none;
  background-color: #b4b4b4;
  color: rgb(19, 19, 19);
}
.quiz-option-selected {
  border: 2px solid rgba(82, 82, 82, 0.103);
  background-color: rgb(234, 234, 253);
  border-radius: 0.4rem;
}

.quiz-confirmation {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
}
.quiz-confirm-img {
  height: 17rem;
}
.quiz-confirm-txt1 {
  width: 60%;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2e4680;
}
.quiz-confirm-txt2 {
  width: 60%;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.1rem;
}
.quiz-confirm-btm-btn {
  border: none;
  outline: none;
  margin-top: 2rem;
  min-width: 8rem;
  color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.quiz-confirm-btm-btn2 {
  background-color: #008015;
}
.quiz-confirm-btm-btn2:hover {
  background-color: #016912;
}
.quiz-confirm-btm-btn1 {
  background-color: #d8d8d8;
  color: #1d1d1d;
  margin-right: 2rem;
}
.quiz-confirm-btm-btn1:hover {
  background-color: #b8b8b8;
}
@media screen and (max-width: 800px) {
  .quiz-confirm-txt2,
  .quiz-confirm-txt1 {
    width: 80%;
  }
}
