.grant-col-text {
  font-size: 1.7rem;
}
.grant-eligibility-text {
  margin-top: 1rem;
}
.events-head-img {
  height: 15rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mob-filter-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
  display: none;
}
.mob-filter-holder p {
  margin-right: 1rem;
}
@media screen and (max-width: 960px) {
  .events-filter-mobhide {
    display: none !important;
  }
  .mob-filter-holder {
    display: flex;
  }
  .grant-col-text {
    font-size: 1rem;
  }
}

.webinar-chip {
  background-color: #ffab00;
}
.workshop-chip {
  background-color: #00ff6a;
}
.training-chip {
  background-color: #6200ff;
}
.Conference {
  background-color: #ff004c;
}

.color-1 {
    background-color: #ffab00;
  }
  .color-2 {
    background-color: #00ff9d;
  }
  .color-3 {
    background-color: #ffee00;
  }
  .color-4 {
    background-color: #2f00ff;
  }
  .color-5 {
    background-color: #ff00f2;
  }
  .color-6 {
    background-color: #ff0022;
  }
  .color-7 {
    background-color: #ffa600;
  }