.extrapart {
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}

.openprogrammespage-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
}
.openprogrammespage-head {
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;

  line-height: 100%;
}
.openprogrammespage-head p {
  width: 100%;
  color: #ffffff;
  text-align: right;
}
.openprogrammespage-section {
  padding: 20px 30px;
}
.openprogrammespage-head {
  color: #585858;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.openprogrammespage-text {
  font-size: 18px;
  font-weight: 400;
  color: #404040;
}
.openprogrammespage-holder {
  margin-top: 20px;
  width: 85%;
}
.vaccency-holder {
  width: 70%;
}

.vaccency-item {
  margin: 20px 10px;
  background-color: #8181811f;
  padding: 20px;
}
.vaccency-item-title {
  color: #585858;
  font-size: 22px;
  font-weight: 500;
}
.vaccency-item-text {
  color: #818181;
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
}
.vaccency-item-text span {
  padding-right: 10px;
  font-weight: 500;
}
.openprogrammespage-feature {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.openprogrammespage-feature-col {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.openprogrammespage-feature-col p {
  color: #ffffff;
  text-align: center;
}
.openprogrammespage-feature-title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 10px;
}
.openprogrammespage-feature-col2 {
  background-color: #333333;
}
.applynow-btn {
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;

  border: none;
}
@media screen and (max-width: 800px) {
  .openprogrammespage-head {
    text-align: center;
  }
  .openprogrammespage-top {
    flex-direction: column;
    justify-content: center;
  }
  .open-icn {
    font-size: 0.51em;
  }
  .openprogrammespage-feature-col {
    padding: 17px 4px;
  }
  .openprogrammespage-feature-col p {
    line-height: 100%;
    font-weight: 400;
    font-size: 19px;
    margin: 2px;
  }
  .openprogrammespage-section {
    padding: 20px 0px;
  }
  .openprogrammespage-holder {
    margin-top: 20px;
    width: 92%;
  }
  .vaccency-holder {
    width: 100%;
  }
  .openprogrammespage-feature {
    display: block;
  }
}
.mentors {
  margin-top: 100px;
}
.mentors-item {
  padding: 30px;
  background-color: #8181811f;
  margin-bottom: 20px;
  margin-top: 20px;
}
.mentors-item-text {
  display: block;
  color: #585858;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
}
.mentors-item-img {
  height: 200px;
  object-fit: contain;
}
.applybtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #c86fc9;
  font-size: 18px;
  font-family: inherit;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.applybtn:hover {
  cursor: pointer;
  background-color: #c76fc9a6;
}
.blogdetailpage-img3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.holder-w {
  display: flex;
  width: 10%;
  flex-direction: row;
  justify-content: space-between;
}
