.container-profile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: hidden;
}
.container-profile-img {
  width: 65%;
}
.container-profile-col1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-profile input {
  padding: 14px 40px;
  background: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  font-size: 20px;

  color: rgb(10, 10, 10);
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.082));
  width: 80%;
  margin: 10px 0;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.form button {
  padding: 10px 20px;
  font-family: inherit;
  font-size: 16px;
  background-color: #2f3061;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
}
.form button:hover {
  background-color: #2f306133;
  color: #2f3061;
  cursor: pointer;
}
.changeText {
  font-size: 13px;
  color: gray;
  margin-top: 7px;
}
.textinputf {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 70%;
  padding: 0;
  position: relative;
}
.container-profile-col2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.emtick {
  position: absolute;
  top: 25%;
  right: 30px;
  transform: translateY(50%);
  color: rgb(0, 165, 55);
}

.otpfield {
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 70%;
  padding: 0;
  position: relative;
}

.otpdisplay {
  display: none;
}

@media screen and (max-width: 800px) {
  .container-profile {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .container-profile-img {
    width: 65%;
  }
  .container-profile-col1 {
    padding: 10px 0 50px 0;
    flex-grow: 0;
    padding: 0;
  }
  .container-profile input {
    width: 100%;
  }
  .form {
    width: 100%;
    padding-bottom: 60px;
  }
}
.datepicker {
  color: #2f3061;
  font-family: inherit;
}
