.application-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}

.applications-heading{
    padding-top: 20px;
    align-items: center;
    text-align: center;
}

.myapplication-box{
    height: 400px;
    background-color: aqua;
    margin: 0 8vw 0 8vw;
}