.application-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.applications-heading {
  padding-top: 20px;
  align-items: center;
  text-align: center;
}

.myapplication-box {
  padding: 20px;
  margin: 10px 30px;
}
.myapplication-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  background-color: #dadada25;
}
.myapplication-row-text {
  text-align: center;
  color: #818181;
  font-weight: 400;
}
.myapplication-row-text-head {
  font-weight: 500;
  text-align: center;
  color: #818181;
}
.myapplication-row-head {
  background-color: #81818121;
  padding: 20px;
}
.myapplication-row-btn {
  font-family: inherit;
  color: #ffffff;
  border: none;
  padding: 5px 50px;
}
.myapplication-row-btn-pend {
  background: #2f3061;
}
.myapplication-row-btn-approv {
  background: #3fd63c;
}
.myapplication-row-btn-rej {
  background: #f33232;
}
.myapplication-row-btn-sub {
  background: #1951ca;
}
.myapplication-row-btn-arch {
  background: #c3f142;
}
.myapplication-row-btn-accept {
  background: #027e13;
}
.app-status {
  height: 200px;
}
@media screen and (max-width: 960px) {
  .myapplication-row {
    padding: 10px;
  }
  .myapplication-row-head {
    padding: 10px;
  }
  .myapplication-row-btn {
    font-family: inherit;
    color: #ffffff;
    border: none;
  }
  .myapplication-box {
    padding: 15px;
    margin: 0px;
  }
  .app-status {
    height: 100px;
  }
}
.btn2 {
  padding: 10px 30px;
  font-family: inherit;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin: 10px;
}
.btn2:hover {
  cursor: pointer;
}
.flex-btn {
  display: flex;
  flex-direction: row;
}
