.icondown {
  color: #000;
}

.profimage {
  width: 65px;
  height: 55px;
  border-radius: 100px;
}

.profimage:hover {
  box-shadow: 0 0 11px white;
}

.navbar {
  /* linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%) */
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.navbar-logo {
  margin-left: 20px;
  justify-self: flex-start;
}
.p-link2 {
  padding: 10px;
}
.p-link2:hover {
  background-color: #c86fc9;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}
.nav-btn {
  margin: 10px;
  display: none;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  justify-self: flex-end;
  margin-left: 5rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #464353;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}
.navbar-container Button {
  font-family: "Bree Serif", serif;
}

.nav-links:hover {
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #464353;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
.div-dropdwn {
  position: relative;
}
.div-dropdwn:hover > .dropdown {
  display: flex;
}
.dropdown {
  right: 0px;
  position: absolute;
  z-index: 1000;
  background: #ffffff;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  padding: 5px;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 140px;
}
.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown li {
  font-size: 16px;
  color: #818181 !important;
  margin: 0;
  padding: 6px 7px !important;
  border-radius: 6px;
}
.dropdown li:hover {
  font-size: 16px;
  color: #ffffff !important;
  background-color: #c86fc9 !important;
  margin: 0;
  padding: 6px;
  cursor: pointer;
}
@media screen and (max-width: 960px) {
  /* .navbar{
height: 100vh;
  } */
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    width: 0%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    width: 95%;
    background: #2f3061;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navbar-logo {
    color: #000;
    justify-self: start;
    margin-left: -30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  .nav-links {
    font-family: "Bree Serif", serif;
    text-align: left;
    padding: 2rem;
    width: 100%;
    display: table;
    color: #fff;
  }

  .nav-item:hover {
    background: gray;

    transition: 250ms;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #000;
    font-size: 2rem;
  }

  .nav-links-mobile {
    font-family: "Bree Serif", serif;
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
.btn {
  color: #464353;
  font-family: "Jost", sans-serif !important;
}
.p-link {
  color: #242424 !important;
  text-align: center;
}
.mobnav {
  background-color: #fafafa;
  height: 100%;
  width: 60vw;
  border-left: 5px solid #c86fc9;
  position: fixed;
  z-index: 2000;
  right: 0;
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  align-items: center;
  display: none;
  overflow-y: auto;
}
.signin {
  background-color: #c86fc9 !important;
}
.mobnav-items {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding-left: 0;
  margin: 60px 0;
}
.mobnav-item {
  font-size: 24px;
  font-weight: 300;
  padding: 5px;
  margin: 0;
  color: #818181;
}
.mob-signbtn {
  background: #c86fc9;
  font-family: inherit;
  font-size: 20px;
  width: 80%;
  margin-bottom: 5px;
  outline: none;
  border: none;
  color: #ffffff;
}
.mobnav-show {
  transform: translateX(0rem);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mobnav-hide {
  display: flex;
  display: none;
  transform: translateX(40rem);
  transition: all 0.6s ease-in;
}
.nav-section {
  display: flex;
  flex-direction: column;
}
.topbanner {
  background-color: rgba(46, 70, 128, 22);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}
.topbanner-text {
  font-size: 1.3rem;

  font-weight: 500;
  color: #f1f1f1;
}

/*Top Banner Animation*/
.tracking-in-contract {
  animation: tracking-in-contract 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-12-18 7:57:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.2em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract2 {
  0% {
    letter-spacing: normal;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@media only screen and (max-width: 960px) {
  .tracking-in-contract {
    animation: tracking-in-contract2 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  .mobnav-show {
    display: flex;
  }
  .mobnav-hide {
    display: flex;
  }
  .mobnav-item a {
    text-decoration: none;
    color: inherit;
  }
  .topbanner-text {
    font-size: 1rem;
    text-align: center;
  }
}
/* Style The Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdownx {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-align: center;
  font-size: 17px !important;
  color: black;
  padding: 14px 18px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdownx:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownx:hover .dropbtn {
}
