.mentorcarousel {
  background-color: "red";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  justify-content: center;
  padding-bottom: 0;
}
.mentorcarousel-head {
  margin-bottom: 0;
}
.mentorcarousel-sildercontainer {
  width: 100%;
  padding: 2rem;
  padding-top: 0;
}
.mentorcarousel-card {
  display: flex !important;

  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;

  min-height: 25rem;
}
.mentorcarousel-card-inner {
  padding: 3rem;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 0.4rem;
  width: 20vw;
  height: 100%;
  flex-grow: 1;
}

.mentorcarousel-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}
.mentorcarousel-card-head {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.3rem;
}
.mentorcarousel-card-sub {
  text-align: center;
  margin-top: 0.5rem;
}
.viewmore {
  color: #000;
}
@media screen and (max-width: 800px) {
  .mentorcarousel-card-inner {
    width: 100%;
  }
}
