.syllabus-row {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;

  align-items: center;
}
.syllabus-row-col1 {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.syllabus-text {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}
.syllabus-text-count {
  font-size: 1.8rem;
  font-weight: 500;
  width: 4rem;
  height: 4rem;
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.syllabus-head-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.syllabus-row-col2-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.syllabus-row-col2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}
.syllabus-duration {
  margin-left: 1rem;
}

.syllabus-duration {
  font-size: 1.1rem;
  color: #9e9e9e;
}
.syllabus-head {
  font-size: 1.6rem;
  font-weight: 300;
}
.syllabus-content-text {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: "140%";
  width: 100%;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.syllabus-text-hide {
  height: 0;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.syllabus-text-visible {
  height: auto;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.line-light {
  opacity: 0.5;
  margin-top: 1.5rem !important;
}
@media screen and (max-width: 800px) {
  .syllabus-row {
    align-items: flex-start;
  }
  .syllabus-head {
    font-size: 1.3rem;
  }
  .syllabus-head-holder {
    align-items: flex-start;
  }
  .syllabus-text-count {
    font-size: 2rem;
    font-weight: 500;
    width: auto;
    height: auto;
    background: #ffffff;

    margin-top: 1rem;

    color: #2d2d2d;
  }
  .syllabus-row-col1 {
    padding: 1rem;
    padding-top: 0;
    flex-direction: column;
    justify-content: flex-start;
  }
  .syllabus-row {
    padding-top: 1rem;
  }

  .syllabus-duration {
    margin-left: 0.3rem;
    font-size: 0.9rem;
  }
}
