.blogSlider {
  margin: 100px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
.blogSlider h2 {
  color: #585858;
}
.slidecontainer {
  width: 90%;
}
.cardholder2 {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}
.card {
  padding: 20px;
  width: 100%;
  height: 100%;
  background: #ffffff;

  box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
}
.card h3 {
  color: #585858;
}
.card-heading {
}
.card p {
  color: #818181;
}
.card button {
  background: #2e4680;
  outline: none;
  width: 100%;
  font-family: inherit;
  color: #ffffff;
  padding: 10px 10px;
  border: none;
  margin-top: 15px;
}
.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-txt {
  width: 100%;
  height: 100px;
  margin-bottom: 1px;
}
@media screen and (max-width: 800px) {
  .card-heading {
  }

  .blogSlider {
    margin: 100px 2px 10px 2px;
  }
  .cardholder2 {
    padding: 20px 5px;
    margin: 6px;
  }
}
