.contact-us {
  padding-top: 50px;
}
.title {
  font-family: inherit;
}
.contactus-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.contactus-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactus-image img {
  width: 70%;
}

.contact-usheadh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.contact-usheadh h2 {
  color: #404040;
  font-size: 56px;

  font-weight: 500;
  line-height: 54px;
}

.contact-usheadh p {
  font-size: 18px;
  color: #818181;
}
.contactformpart {
  padding: 0 20px 20px 20px;
}
.contactform {
  margin: auto;
  width: 70%;
  border-width: thin;

  border-radius: 10px;
  padding: 0px 10px 20px 35px;
  background: #ffffff;
  box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
}
.contactheading {
  text-align: center;
  padding-bottom: 20px;
}

.contactheading h2 {
  font-size: 60px;
  color: #404040;
  font-size: 56px;

  font-weight: 500;
  font-weight: bold;
  line-height: 54px;

  text-align: center;
}
input {
  padding: 10px 0 20px 0;
  margin-top: 10px;
  width: 60%;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: inherit;
  border-bottom: 1px solid rgba(82, 82, 82, 0.473);
}

.textarea {
  padding-top: 20px;
  width: 90%;

  font-family: inherit;
}
textarea {
  border-radius: 10px;
  width: 100%;
  outline: none;
  margin-top: 10px;
  padding: 5px;
  font-family: inherit;
  border-bottom: 1px solid rgba(82, 82, 82, 0.473);
}

.sbmt-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.sbmt-btn input {
  padding: 10px 40px;
  background: #c86fc9;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  font-size: 20px;
  font-family: "Bree Serif", serif;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .contactus-content {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
  }

  .contactus-image {
    padding: 20px;
  }
  .contactus-image img {
    width: auto;
    height: 200px;
  }
  .sbmt-btn {
    display: flex;
    align-items: left;
    justify-content: center;
    margin: 40px;
  }
}
