@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap");
body {
  margin: 0;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: "Jost", sans-serif;
}

.logo {
  height: 50px;
}

.isLoading {
  color: #2f3061;
  height: 40vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.oopps {
  padding: 10px;
  color: #2f3061;
  height: 60vh;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

alert {
  font-size: 18px;
}

.divdisplay {
  display: none;
}
a {
  cursor: pointer;
}
