.email-subscribe {
  border-radius: 2px;
  background-color: #ffffff;
  height: 5px;
  width: 25vw;
}

.footer-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.subs-btn {
  align-items: center;
}

.footer {
  background-color: #302e3a;
  margin-top: 80px;
  padding: 45px 45px;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
}
.footer-logo {
  color: #ffffff;
  letter-spacing: 1px;
  font-family: "Chela One", cursive;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
.footer-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.footer-text {
  color: #ffffff;
  text-decoration: none;
  margin-left: 10px;
}
.footer-text2 {
  color: #ffffffb9;
  width: 90%;
}
.socialIcn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  height: 40px;
  margin: 10px;
}
.footer-col2-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-col2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-col1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 45px 35px;
  }
  .footer-text2 {
    text-align: center;
    width: 100%;
  }
  .footer-sec {
    justify-content: center;
  }
  .footer-col1 {
    align-items: center;
  }
}
.footer-logo {
  font-family: inherit;
  font-weight: 500;
}
.email-subscribe {
  background-color: #ffffff;
  padding: 15px 10px;
  margin: 15px 0;
  margin-bottom: 0px;
  color: inherit;
}
.subs-btn {
  padding: 5px 10px;
  font-family: inherit;
  text-transform: uppercase;
  background-color: rgb(143, 143, 143);
  border: none;
  color: #ffffff;
}
.subs-btn:hover {
  cursor: pointer;
}
