.blogheader {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 25px;
}
.blogpage {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blogheader-col2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blogheader-col2 h2 {
  margin: 0;
}
.blogheader-col2 p {
  margin: 0;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.47);
}
.blogheader-col1 {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogheader-col1 img {
  height: 250px;
}
.searchbar {
  width: 100%;
}
.searchbarholder {
  width: 50%;
  position: relative;
  margin-top: 20px;
}
.searchbarholder input {
  padding: 14px 40px;
  background: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  font-size: 20px;

  color: rgb(10, 10, 10);
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.082));
  width: 80%;
  margin: 10px 0;
}
.searchbar-icn {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.47);
}
.searchbar-icn :hover {
  cursor: pointer;
}
.blogcard {
  margin: 30px 0;
  padding: 10px;
  border-radius: 10px;
  border: 0.2px outset #000;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: grid;
  grid-template-columns: 0.4fr auto;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.blogcard:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.blogholder {
  padding: 40px 20% 20px 20%;
}
.blogcard-img {
  height: 200px;
  object-fit: cover;
}
.blogcard-col2 {
  padding: 20px;
}
.blogcard-col1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogcard-col2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.blogcard-col2 h2,
p {
  margin: 0;
}
.blogcard-col2 h2 {
  width: 100%;
  margin: 5px 0;
  margin-top: 7px;
}
.blogcard-col2 p {
  width: 100%;
  margin: 5px 0;
}
.blogcard-col2-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.line {
  width: 100%;
  height: 3px;
  margin: 4px 0;
  background-color: #000000;
}
.blogcard-col2-btm {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.blogcard-col2-btm-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.blogcard-col2-top-2 p {
  margin: 0;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.47);
}
.blogcard-col2-top-1-icn {
  color: rgba(0, 0, 0, 0.47);
}
@media screen and (max-width: 800px) {
  .blogheader {
    grid-template-columns: repeat(1, 1fr);
  }
  .blogheader-col2 {
    margin-top: 20px;
  }
  .blogholder {
    padding: 40px 35px 20px 35px;
  }
  .blogcard {
    grid-template-columns: repeat(1, 1fr);
  }
  .blogcard-img {
    width: 100%;
    object-fit: cover;
  }
  .searchbar-icn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .searchbarholder {
    width: 70%;
  }
}
