.colleges {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}
.college-holder {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.collwgeholder-card {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.college-img {
  filter: grayscale(100%);
  height: 2.4rem;
  margin: 0.5rem;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.college-img:hover {
  filter: grayscale(0%);
}
@media screen and (max-width: 960px) {
  .college-holder {
    grid-template-columns: repeat(4, 1fr);
  }
  .college-img {
    height: 2rem;
    margin: 0.6rem;
  }
  .college-img {
    height: 1.2rem;
    margin: 0.2rem;
  }
  .college-holder {
    width: auto;
  }
}
