.colleges {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.college-holder {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.collwgeholder-card {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.college-img {
  height: 3rem;
  margin: 1rem;
}

@media screen and (max-width: 960px) {
  .college-holder {
    grid-template-columns: repeat(4, 1fr);
  }
  .college-img {
    height: 3rem;
    margin: 0.6rem;
  }
  .college-img {
    height: 2rem;
    margin: 0.6rem;
  }
}
